@model CarCount

 <div class="col-sm-6 card-body br">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <i class="icon feather icon-file-text text-c-blue mb-1 d-block"></i>
                                    </div>
                                    <div class="col-sm-8 text-md-center">
                                        <h5>Dizel Araç Sayısı</h5>
                                        <span>@Model.Count</span>
                                    </div>
                                </div>
                            </div>